[Unit]
Description=Run prsmash every 5 minutes

[Timer]
OnCalendar=*:0/5
Persistent=true
Unit=prsmash-hourly.service

[Install]
WantedBy=timers.target
